    <div class="align-self-center">
        <div>
            <div class="card-body">
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">ID</th>  
                      <th scope="col">Image</th>
                      <th>Image path name</th>
                      <th scope="col">Employee Name</th>
                      <th scope="col">Email</th>
                      <th scope="col">Mobile</th>
                      <th scope="col">Edit</th>
                      <th scope="col">Delete</th>

                    </tr>
                  </thead>
                  <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                      <th scope="row">@item.Id</th>
                      <td><img src="/@item.ImageUrl" height="60" width="60"/></td>
                      <td>@item.ImageUrl</td>
                      <td>@item.FirstName &ensp; @item.LastName</td>
                      <td>@item.Email</td>
                      <td>@item.Mobile</td>
                      <td><a asp-action="Edit" asp-controller="Employee" asp-route-id="@item.Id">Edit</a></td>
                      <td><a asp-action="Delete" asp-controller="Employee" asp-route-Id="@item.Id" >Delete</a></td>
                    </tr>
                }
   
                  </tbody>
                </table>
            </div>
        </div>
    </div>


